@font-face {
  font-family: 'edtr-io-icons';
  src:  url('./edtr-io-icons.eot?h3ysfi');
  src:  url('./edtr-io-icons.eot?h3ysfi#iefix') format('embedded-opentype'),
    url('./edtr-io-icons.ttf?h3ysfi') format('truetype'),
    url('./edtr-io-icons.woff?h3ysfi') format('woff'),
    url('./edtr-io-icons.svg?h3ysfi#edtr-io-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.edtr-io-formel:before {
  content: "\e900";
}
.edtr-io-close:before {
  content: "\e901";
}
.edtr-io-align-center:before {
  content: "\e902";
}
.edtr-io-align-block:before {
  content: "\e903";
}
.edtr-io-align-left:before {
  content: "\e904";
}
.edtr-io-align-right:before {
  content: "\e905";
}
.edtr-io-bold:before {
  content: "\e906";
}
.edtr-io-fill:before {
  content: "\e907";
}
.edtr-io-color:before {
  content: "\e908";
}
.edtr-io-color-text:before {
  content: "\e910";
}
.edtr-io-italic:before {
  content: "\e909";
}
.edtr-io-list-bulleted:before {
  content: "\e90a";
}
.edtr-io-list-numbered:before {
  content: "\e90b";
}
.edtr-io-quote:before {
  content: "\e90c";
}
.edtr-io-functions:before {
  content: "\e90d";
}
.edtr-io-link:before {
  content: "\e90e";
}
.edtr-io-text:before {
  content: "\e90f";
}
